@import 'tailwindcss';
@plugin "daisyui";
:root {
  --primary: #2db9bc;
  --secondary: #c5ffe4;
  padding: 0;
  margin: 0;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

html {
  scroll-behavior: smooth;
}
