@import 'tailwindcss';
@plugin "daisyui";
:root {
  --primary: #2db9bc;
  --secondary: #c5ffe4;
  padding: 0;
  margin: 0;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-base-100: #ffffff;
  --color-base-200: #f8f9fa;
  --color-base-300: #e9ecef;
  --color-base-content: #212529;
  --tab-border-colors: var(--primary);
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-black;
}

.tab {
  --tab-border-colors: var(--primary);
}
input.tab:checked {
  background-color: var(--primary);
  color: white;
}
.tab-active {
  --tab-border-colors: var(--primary);
}
.tab-border {
  --tab-border-colors: var(--primary);
}

span.swiper-pagination-bullet-active {
  background-color: black;
}

span.swiper-pagination-bullet,
span.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: white;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Slow down the spin animation */
.spin-slow {
  animation: spin 10s linear infinite;
}
